<app-header></app-header>

<div class="container">
    <div class="d-flex justify-content-center vh-100 align-items-center">
        <div class="card p-3 mb-5 bg-body border-0">
            <div class="card-body p-4">
                <p style="font-size: 60px;;">Hobby-urile mele</p>
            </div>
        </div>
    </div>
</div>
<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-md">
            <img src="assets/imgs/tehno.jpg" class="img-fluid rounded-circle mx-auto d-block">
        </div>
        <div class="col-md">
            <h4 class="text-uppercase fw-bold">Tehnologia</h4>
            <div class="container-fluid d-flex h-100">
                <p class="align-self-center">Cam primul contact cu tehnologia, l-am avut pe la 7 ani, cand am avut si eu primul PC, nu era ceva super bomba, dar in 2009 sa ai PC-ul tau, erai cineva.
                    Din cate stiu, ca si procesor avea un AMD, cred, si o placa video de 64 MB de RAM, imaginativa :)). Si na, ca si orice alt copil de 7 - 8 ani, ma jucam, nu rupeam eu programarea sau alte chestii.
                    Nu prea intelegeam eu cu ce se manca tehnologia asta, sincer, mai mult pasiunea mi-a venit, cand am inceput sa ma uit la George Buhnici, cand mai facea review-uri la cate un telefon, si de acolo am inpecut sa mai inteleg una alta.
                    In clasa a 9-a am descoperit si programarea, care m-a prins foarte tare, incat am ajuns sa invat din placere, decat sa ma chiuni sa invat. Undeva pe la inceput de clasa a 10-a mi-am montat primul meu PC facut pe piese, o bucurie de nedescris cand l-am vazut ca si merge :)) 
                    Si acuma, am ajuns sa fac chestii mult mai avansate, sa fac aplicatii Desktop, Mobile, Web, Servere, sa pot "manageria" Baze de date, si chiar sa incep sa fac chestii IoT, gen termometru digital, cu aplicatie pe telefon.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-md">
            <h4 class="text-uppercase fw-bold">Masinile</h4>
            <div class="container-fluid d-flex h-100">
                <p class="align-self-center">
                    Masinile, moartea mea, pentru asta traiesc :)). Inca de mic mi-au placut masinile, mai ales alea mai sport. Plus ca microbul asta cred ca e venit si de la tatal meu, ca si lui ii plac masinile, nu la un nivel foarte exagerat, dar intr-o mica masura, pasiunea e acolo.
                    Imi placea, si inca imi place, sa stau pe langa taica-miu cand isi repara masina, pentru ca da, e un tata balcanic adevarat, care isi repara singur masina, la fel si eu :)). Si de acolo am inceput sa ma interesez, de cum functioneaza un motor, o cutie de viteze, etc.
                    Inainte eram fiert dupa BMW-uri, mai ales dupa E36, dar acuma m-am schimbat parerile, sunt fiert pe japoneze, Honda, Nissan, Toyota, Mazda, din cauza unui anime numit Initial D. Masina visurilor, e un Mazda RX-7 FC3S (pe care o si vedeti in imagine)
                </p>
            </div>
        </div>
        <div class="col-md">
            <img src="assets/imgs/fc.jpg" class="img-fluid rounded-circle w-75 mx-auto d-block">
        </div>
    </div>
</div>
<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-md">
            <h4 class="text-uppercase fw-bold">Muzica</h4>
            <p>
                Nu stiu daca se poate numii hobby, sa asculti muzica, dar rup. Rup Spotify-ul in 2, nu exista minut din viata in care sa nu ascult muzica. Muzica e viata mea, cand ma trezesc ascult muzica, cand adorm, cand lucrez, cand ma plimb, cand stau, deci tot timpul.
                Bine, cred ca si exagerez, sa am intr-un an 159k minute ascultate, nu stiu daca este ok ;)) (111 zile, am calculat de curios)
            </p>
        </div>
        <div class="col-md">
            <h4 class="text-uppercase fw-bold">Plimbarile</h4>
            <p>
                Pentru o viata sanatoasa, faceti miscare, minim 2 ore pe zi. Asa ca, ma plimb, si mult, cate 3 - 4 ore. In general singur, pentur ca imi place sa admir ce s-a ma schimbat, ce se intampla in oras, un alta. Si in general imi place sa ma plimb in zone slab aglomerate.
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>
