<app-header></app-header>

<div class="container">
    <div class="d-flex justify-content-center vh-100 align-items-center">
        <div class="card p-3 mb-5 bg-body border-0">
            <div class="card-body p-4">
                <p style="font-size: 60px;;">Un Resume pe masura</p>
            </div>
        </div>
    </div>
</div>

<div class="container-lg my-5">
    <div class="row">
        <div class="col-lg-4 text-white">
            <div class="container-fluid px-5 mb-0" style="background-color: #333132;">
                <img src="assets/imgs/me.jpg" class="img-fluid my-5">
                <h4 class="text-uppercase">Contact</h4>
                <ul>
                    <li>0770 447 581</li>
                    <li>niculaii58&#64;gmail.com</li>
                    <li>Str. Observatorului Nr. 34</li>
                    <li>
                        <a href="https://github.com/TovarasuIlie" target="_blank" class="text-decoration-none text-white">https://github.com/TovarasuIlie</a>
                    </li>
                </ul>
                <hr class="fw-bold">
                <h4 class="text-uppercase">Education</h4>
                <h6 class="text-uppercase">HIGH SCHOOL</h6>
                <ul style="list-style-type: none;">
                    <li>Liceu Teoretic “Solomon Halita”</li>
                    <li>Mathematics and Informatics</li>
                    <li>2017 - 2021</li>
                </ul>
                <h6 class="text-uppercase">BACHELOR OF SYSTEM
                    ENGINEERING</h6>
                <ul style="list-style-type: none;">
                    <li>Tehnical University of Cluj Napoca</li>
                    <li>Faculty of Automation and Computer</li>
                    <li>2021 - present</li>
                </ul>
                <hr>
                <h4 class="text-uppercase">Skills</h4>
                <ul>
                    <li>Java / Spring Boot</li>
                    <li>.NET</li>
                    <li>C / C++</li>
                    <li>SQL</li>
                    <li>Git & GitHub</li>
                    <li>Laravel</li>
                    <li>Angular</li>
                </ul>
                <hr>
                <h4 class="text-uppercase">LANGUAGES</h4>
                <ul class="pb-5">
                    <li>Romanian - native</li>
                    <li>English</li>
                </ul>
            </div>
        </div>
        <div class="col-lg">
            <div class="container-fluid px-5" style="color: #322C2C;">
                <div class="container" style="margin-top: 50px;">
                    <h1 class="text-uppercase" style="font-size: 60px">NICULAI</h1>
                    <h1 class="text-uppercase fw-bold" style="font-size: 60px;">ILIE-TRAIAN</h1>
                    <h5 class="text-uppercase fw-bold mt-4">IT TECHNICIAN</h5>
                </div>
                <div class="container mt-5 mb-0">
                    <h4 class="text-uppercase fw-bold">ABOUT ME</h4>
                    <p>I’m student at the Technical University of Cluj-Napoca, eager
                        to kick-start my career in the IT industry through an
                        internship opportunity. I am a quick learner, passionate
                        about technology, and excited to apply my academic
                        knowledge to real-world projects.
                        </p>
                    <hr>
                    <h4 class="text-uppercase fw-bold">EXPERIENCE</h4>
                    <h5 class="fw-bold">Leoni Wiring System</h5>
                    <ul>
                        <li>Working Student | 06.2018 - 09.2018</li>
                    </ul>
                    <h5 class="fw-bold">Volunteer Work</h5>
                    <ul>
                        <li>Eco - LTSH | 2018-2019</li>
                    </ul>
                    <hr>
                    <h4 class="text-uppercase fw-bold">SOFT SKILLS</h4>
                    <ul>
                        <li>Adaptability</li>
                        <li>Attention to detail</li>
                        <li>Open-mindedness</li>
                        <li>Teamwork</li>
                        <li>Empathy</li>
                        <li>Problem solving</li>
                        <li>Collaboration</li>
                        <li>Funny</li>
                    </ul>
                    <hr>
                    <h4 class="text-uppercase fw-bold">CERTIFICATION</h4>
                    <ul>
                        <li>Professional certificate in writing and editing customer-oriented
                            software</li>
                    </ul>
                    <hr>
                    <h4 class="text-uppercase fw-bold">HOBBIES</h4>
                    <ul>
                        <li>Listening Music</li>
                        <li>Programming</li>
                        <li>Driving</li>
                        <li>Ride a Bike</li>
                    </ul>
                    <hr>
                    <h4 class="text-uppercase fw-bold">PROJECTS</h4>
                    <ul>
                        <li>
                            <a href="https://github.com/TovarasuIlie/scd-project" target="_blank" class="text-decoration-none">Courier Application</a>
                        </li>
                        <li>
                            <a href="https://github.com/TovarasuIlie/practica-2024" target="_blank" class="text-decoration-none">Announcements Application</a>
                        </li>
                        <li>
                            <a href="https://github.com/TovarasuIlie/proiect-ii" target="_blank" class="text-decoration-none">eCommerce Application</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>